.da-margin-top40 {
    margin-top: 40px;
}

.da-margin-top60 {
    margin-top: 60px;
}

.da-margin-top80 {
    margin-top: 80px;
}

.da-margin-top100 {
    margin-top: 100px;
}

.hidden {
    display: none;
}