.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0600FF;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  animation-name: animatefade;
  animation-duration: 0.3s;
  opacity: 0.65;
}

.modal__window {
  position: fixed;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: white;
  width: 50%;
  height: 70%;
  max-height: 80%;
  z-index: 2;
  padding: 30px;
  border-radius: 10px;
  left: 25%;
  top: 15%;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
}

.modal__photo-container {
  width: 100%;
  height: 100%;
}

.modal__photo {
  margin-top:30px;
  max-width: 100%;
  max-height: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal__close {
  cursor:pointer;
  position: absolute;
  top: 20px;
  right: 15px;
  transition: all 0.2s linear;

  &:after, &:before {
    content: "";
    height: 40px;
    width: 40px;
    border-top: 2px solid gray;
    position: absolute;
    top: 7px;
    right: -8px;
    transform: rotate(-45deg);
  }
      
  &:before {
    right: 18px;
    transform: rotate(45deg);
  }
  
  &:hover {
    opacity: 0.3;
  }
}

@keyframes animatetop {
    from {top: -50px; opacity: 0}
    to {top: 15%; opacity: 1}
}

@keyframes animatefade {
    from { opacity: 1 }
    to { opacity: 0.65 }
}